{% extends 'base.html' %}
{% load static %}
{% block body %}
    <style>
        .card{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        th{
            padding: 20px 0;
        }
        td{
            padding: 20px;
        }
        .about-us img{
            height: 20px;
        }
        td{
            padding-right: 50px;
        }
    </style>

    <br>
    <br>
        <div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-4 p-2" style="height: 60vh">
            <h3 class="bg-info text-center p-4 text-light">About Us</h3>
                <hr>
            <table class="p-4" align="center" style="margin: 30px auto">
                <tr>
                    <td><img src="{% static 'phone.png' %}" class="about-us" height="40" width="40"></td>
                    <th>+91 9876543210</th>
                </tr>
                <tr>
                    <td><img src="{% static 'mail.png' %}" class="about-us" height="40" width="40"></td>
                    <th>e-commerce@service.com</th>
                </tr>
                <tr>
                    <td><img src="{% static 'location.png' %}" class="about-us" height="40" width="40"></td>
                    <th>Hyderabad</th>
                </tr>
            </table>
{#                <marquee style="">Hello</marquee>#}
            </div>
        </div>
    </div>
    </div>

{#    <h1 class="display-4" style="text-align: center; color: orange;font-size: 35px">About Us</h1>#}
{#        <div style="text-align: center">#}
{#            <table align="center" style="font-size: 25px">#}
{#            <tr>#}
{#                <td>Reach Us at : rakeshshu001@gmail.com</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Contact Us : +91 8919736316</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Telangana Hyd-35</td>#}
{#            </tr>#}
{#            </table>#}
{#        </div>#}

{% endblock %}