    <hr>
    <style>
        .footer-ul{
        color: #E3E3E3;
        }
        .nav-item{
            list-style: none;
            text-decoration: none;
            padding-top: 10px;
        }
        .nav-item .navbar-link{
            text-decoration: none;
            font-size: 18px;
            color: white;
        }
    </style>
    <div class="bg-info">
        <div class="footer">
            <div class="row m-2">
                <div class="col-sm-3 mt-4">
                    <ul class="footer-ul">ABOUT
                        <li class="nav-item"><a class="navbar-link" href="#">Contact Us</a></li>
                        <li class="nav-item"><a class="navbar-link" href="{% url 'about_us' %}">About Us</a></li>
                        <li class="nav-item"><a class="navbar-link" href="#">Careers</a></li>
                        <li class="nav-item"><a class="navbar-link" href="https://defence-blogs.herokuapp.com/Blogs/Home/" target="_blank">Blogs</a></li>
                        <li class="nav-item"><a class="navbar-link" href="https://defence-blogs.herokuapp.com/" target="_blank">Portfolio</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 mt-4">
                    <ul class="footer-ul">HELP
                        <li class="nav-item"><a class="navbar-link" href="#">FAQ</a></li>
                        <li class="nav-item"><a class="navbar-link" href="#">Report Infringement</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 mt-4">
                    <ul class="footer-ul">POLICY
                        <li class="nav-item"><a class="navbar-link" href="#">Return Policy</a></li>
                        <li class="nav-item"><a class="navbar-link" href="#">Terms Of Use</a></li>
                        <li class="nav-item"><a class="navbar-link" href="#">Security</a></li>
                        <li class="nav-item"><a class="navbar-link" href="#">Privacy</a></li>
                        <li class="nav-item"><a class="navbar-link" href="#">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 mt-4">
                    <ul class="footer-ul">SOCIAL
                        <li class="nav-item"><a class="navbar-link" href="#" target="_blank">Facebook</a></li>
                        <li class="nav-item"><a class="navbar-link" href="https://github.com/Rakesh-roy" target="_blank">Git</a></li>
                        <li class="nav-item"><a class="navbar-link" href="#" target="_blank">Twitter</a></li>
                        <li class="nav-item"><a class="navbar-link" href="#" target="_blank">YouTube</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 mt-4">
                    <ul style="border-left: 2px lightgray solid" class="footer-ul">Mail Us:
                        <li class="nav-item">info@gmail.com Hyderabad, 500037, Telangana, India
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="text-center pb-4" style="color: #E3E3E3">
                Copyright &copy; | 2020
            </div>
        </div>
    </div>
